<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <target name="file" xsi:type="File"            
            fileName="${basedir}/logs/BigBrother.${shortdate}.log"
            keepFileOpen="false"
            encoding="utf-8" />
    <target name="jsonfile" xsi:type="File" fileName="${basedir}/logs/BigBrother.${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=O}" />
        <attribute name="message" layout="${message}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="level" layout="${level}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="jsonfile" />
  </rules>
</nlog>